{% extends 'findjob/base.html' %}

{% block content %} 

<h1>Candidature<h1>

<ul>
    <li>{{application.title}}</li>
    
    {% if application.applied %}
    <li>Envoyée le {{application.date_applied}}</li>
    {% else %}
    <li>Pas encore envoyée</li>
    {% endif %}
    {% if application.called_back %}
    <li>Relancée le {{application.date_callback}}</li>
    {% else %}
    <li>Pas encore relancée</li>
    {% endif %}
    <li>Lettre de motivation : {{application.cover_letter}}</li>
    
    <li><a href="{{application.link}}">Lien</a></li>
</ul>

{% endblock %}