{% extends 'findjob/base.html' %}

{% block content %} 

<a class="button filter_button previous_button" href="{% url 'application-detail' prev_id %}">&lt</a>
<h1 id="application_title">Candidature {{application.id}}</h1>
<a class="button filter_button previous_button" href="{% url 'application-detail' next_id %}">&gt</a>

{% if application.id %}
<ul>
    <li></strong>{{application.title}}</strong></li>
    
    {% if application.applied %}
    <li><strong>Envoyée le</strong> {{application.date_applied}}</li>
    {% else %}
    <li>Pas encore envoyée</li>
    {% endif %}
    <li></strong>Lettre de motivation</strong> : {{application.cover_letter | linebreaks}}</li>
    {% if not application.callback is null %}
    <li></strong>Relancée le</strong> {{application.callback.date}}</li>
    <li></strong>Avec le message</strong> : {{application.callback.message | linebreaks}}</li>
    {% else %}
    <li>Pas encore relancée (<a href="{% url 'callback-add' application.id %}">J'ai relancé</a>)</li>
    {% endif %}
    <li>Statut : 
        {% if application.state == 'OP' %}En cours
        {% elif application.state == 'OK' %}Acceptée
        {% elif application.state == 'NO' %}Refusée
        {% endif %}
        {% if application.state == 'OP' %}
            (<a href="{% url 'application-accepted' application.id %}">Acceptée</a
            >/<a href="{% url 'application-declined' application.id %}">Refusée</a
            >)
        {% endif %}</li>
    
    <li><a target="_blank" href="{{application.link}}">Lien</a></li>
</ul>
<a class="delete_button button" href="{% url 'application-delete' application.id %}">Supprimer</a>
{% endif %}

{% endblock %}