{% extends 'findjob/base.html' %}

{% block content %} 

<h1>{{company.name}}</h1>

<a class="add_button button" href="{% url 'application-add' %}?company={{company.id}}"> + Ajouter une candidature</a>
<a class="delete_button button" href="{% url 'company-delete' company.id %}">Supprimer</a>

<h2>Candidatures liées :</h2>
<ul>
    {% for application in company.application_set.all %}
    <li><a href="{% url 'application-detail' application.id %}">{{application.title}}</a></li>
    {% endfor %}
</ul>

{% endblock %}