* {
    font-family: 'Courier New', Courier, monospace;
}

header p {
    font-weight: bold;
    font-size: 30px;
    margin: .5em auto .5em;
}

header a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    background-color: #dddddd;
}

header a:visited {
    color:inherit;
}

header {
    text-align: center;
    border-bottom: solid 1px black;
}

header + * {
    margin-top: 20px;
}

h1 {
    font-size: larger;
}

.button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding:8px;
    cursor: pointer;
}

.export_button {
    color:white;
    background-color: #1E90FF;
    border: solid 1px #1E90FF;
}

.add_button {
    color:white;
    background-color: #689f38;
    border: solid 1px #689f38;
}

.delete_button {
    color:white;
    background-color: red;
    border: solid 1px red;
}

.filter_button {
    min-width: 90px;
    color:inherit;
    background-color: #eaeaea;
    border: solid 1px black;
}

.previous_button {
    min-width: 20px;
}

#application_title {
    margin:10px;
    text-align: center;
    display: inline;
}

form p {
    display: flex;
}

.errorlist {
    margin-bottom: -20px;
}

ul li ul li {
    list-style: none;
}

.hidden {
    visibility: hidden;
}

/* .vertical_divider {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
} */

.declined {
    color:red;
}

.application-details-list {
    display: flex;
    flex-direction: column;
    gap: .25rem;
}

.cover-letter {
    font-style: italic;
}