* {
    font-family: 'Courier New', Courier, monospace;
}

header p {
    font-weight: bold;
    font-size: 30px;
    margin: .5em auto .5em;
}

header a {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
}

header a:hover {
    background-color: #dddddd;
}

header a:visited {
    color:inherit;
}

header {
    text-align: center;
    border-bottom: solid 1px black;
}

header + * {
    margin-top: 20px;
}

h1 {
    font-size: larger;
}

.button {
    text-align: center;
    display: inline-block;
    text-decoration: none;
    border-radius: 5px;
    padding:8px;
}

.add_button {
    color:white;
    background-color: #689f38;
    border: solid 1px #689f38;
}

.filter_button {
    min-width: 90px;
    color:inherit;
    background-color: #eaeaea;
    border: solid 1px black;
}

form p {
    display: flex;
}

.errorlist {
    margin-bottom: -20px;
}

ul li ul li {
    list-style: none;
}

.hidden {
    visibility: hidden;
}

/* .vertical_divider {
    display:grid;
    grid-template-columns: repeat(2, 1fr);
} */

.declined {
    color:red;
}